
::-webkit-scrollbar {
    display: none;
}


html {
    scrollbar-width: none;
    background: #000;
}


html {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    background: #000;
}
body{
    background: #000;
}
